<%- include layouts/header_regis.ejs %>
<header>
    <div class="banner">
        <div class="">
            <div class="row fill_height">
        
                <div class="col-lg-12">
                    <div class="global-container">
                        <div class="card login-form">
                        <div class="card-body">
                            <h3 style="font-weight: bold;" class="card-title text-center">Registrarse</h3>
                            <div style="height: 10px;"></div>
                            <div class="text-center"><img style="height:70px;width:70px" src="/imagenes/Star_coin.png" alt=""></div>
                            
                            <div class="card-text">
                                <!--
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                                <% if(typeof message!= "undefined" && message) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= message %></div>

                                <% } %>

                                <% if(typeof messagesuccess!= "undefined" && messagesuccess) { %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert"><%= messagesuccess %></div>

                                <% } %>
                                <div class="form-s">
                                    <!-- to error: add class "has-danger" -->
                                    <form action="/auth/registro" method="POST">
                                 
                                         <div class="form-group">
                                            <label for="exampleInputEmail2"></label>
                                            <input type="name" class="form-control form-control-sm prueba" style="width: 482px;" placeholder="Ingresa tu nombre" name="nombre" pattern="[ A-Za-zñÑáéíóúÁÉÍÓÚ]{1,50}" required title="Solo caracteres para nombre" minlength="2" maxlength = "50"  autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail2"></label>
                                            <input type="name" class="form-control form-control-sm prueba" style="width: 482px;" placeholder="Ingresa tu apellido" name="apellido" pattern="[ A-Za-zñÑáéíóúÁÉÍÓÚ]{1,50}" required title="Solo caracteres para apellido" minlength="2" maxlength = "50"  autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1"></label>
                                            <input type="email" class="form-control form-control-sm prueba" style="width: 482px;" placeholder="Ingresa tu correo" name="correo"  maxlength = "50"  autocomplete="off" required>
                                        </div>
                
                                        <div class="form-group">
                                            <label for="exampleInputPassword1"></label>
                                           
                                            <input type="password" class="form-control form-control-sm prueba" style="width: 482px;" placeholder="Contraseña" name="contrasena" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{5,}$" required title="Mínimo cinco caracteres, al menos una letra, un número y un carácter especial. (No espacios)" maxlength = "40"  autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1"></label>
                                           
                                            <input type="password" class="form-control form-control-sm prueba" style="width: 482px;" placeholder="Repite tu contraseña" name="passwordConfirm" maxlength = "40" autocomplete="off" required>
                                  
                                    </div>
                                    <br>
                                    <br>
                                    <button type="submit" class="btn btn-primary btn-block" value="Add">Registrarse</button>
                                    
                                </form>
                                <br>
                                <br>
                                <div class="linea-formulario"></div>
                                    <div class="sign-up">
                                        ¿Tienes una cuenta? <a href="/login">Inicia Sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </header>

<%- include layouts/footer.ejs %>