<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/imagenes/Star_coin.png" rel="icon">
        <title>VideoGameCity - Dashboard</title>
        <link href="/stylesheets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/estilos_dashboard.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/stylesheets/dashboard/ruang-admin.min.css">
        <script src="/scripts/jquery.min.js"></script>
        <script src="/scripts/bootstrap.bundle.min.js"></script>
        <script src="/stylesheets/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/scripts/js/ruang-admin.min.js"></script>
        <script src="/stylesheets/vendor/chart.js/Chart.min.js"></script>
        <script src="/scripts/js/demo/chart-area-demo.js"></script>  
        <link href="/stylesheets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
        <script src="/stylesheets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/stylesheets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
      </head>

      <body id="page-top">
        <div id="wrapper">
          <!-- Sidebar -->
          <ul  class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a style="background: linear-gradient(to right, #4197A8 0%, #0D3A7B 100%);" class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
              <div class="sidebar-brand-icon">
                <img style="height: 30px;" src="/imagenes/logo1.png">
              </div>
             
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
              <a class="nav-link" href="../dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Inicio Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item active">
              <a class="nav-link" href="../">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Pagina Principal VGC</span></a>
            </li>
            <hr class="sidebar-divider">
       
            <div class="version" id="version-ruangadmin"></div>
          </ul>
          <!-- Sidebar -->
          <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav style="background: linear-gradient(to right, #4197A8 0%, #0D3A7B 100%);" class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                   
                      <div class="topbar-divider d-none d-sm-block"></div>
                      <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                     
                          <span class="ml-2 d-none d-lg-inline text-white small">Bienvenido Administrador</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                          
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="../logout">
                            Logout
                          </a>
                        </div>
                      </li>
                    </ul>
                  </nav>
                  <!-- Topbar -->


              <!---Container Fluid-->
          