<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="refresh" content="3;url=http://localhost:3000/" />
  <meta name="description" content="">
  <link href="/imagenes/Star_coin.png" rel="icon">
  <meta name="author" content="">
  <title>VideoGamesCity</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/bootstrap.bundle.min.js"></script>
  <script  type="text/javascript" src="/scripts/typeahead.min.js"></script>
  <script src="https://kit.fontawesome.com/581287c489.js" crossorigin="anonymous"></script>


</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark fondo-cabecera"  >
    <div class="container">
       
      <a style="padding-left: 60px;padding-right: 370px;" href="/"></a><img src="/imagenes/logo1.png" alt=""></a>
   
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">

      </div>
     
    </div>
  </nav>