<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>VideoGamesCity</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link href="/imagenes/Star_coin.png" rel="icon">
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/bootstrap.bundle.min.js"></script>
  <script  type="text/javascript" src="/scripts/typeahead.min.js"></script>
  <script src="https://kit.fontawesome.com/581287c489.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $('input.typeahead').typeahead({
            name: 'countries',
            remote: 'http://localhost:3000/searchtool?key=%QUERY',
            limit: 10,
        });
    });
    </script>

</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark fondo-cabecera"  >
    <div class="container">
      <a href="/"><img src="/imagenes/logo1.png" alt=""></a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form action="/videojuegos" method="POST">
        <div class="input-group2 buscador-css">
          <input type="text" ID="typeahead" name="typeahead" class="typeahead tt-query" autocomplete="off" placeholder="Buscar Videojuego..">
          <button type="submit" class="btn  btn-primary" value="Add">Buscar</button>
        </div>
      </form>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
       
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#rankings">Ranking</a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="../login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../registro">Registrarse</a>
            </li>
         

  
     
        </ul>
      </div>
     
    </div>
  </nav>