<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>VideoGamesCity</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/bootstrap.bundle.min.js"></script>
  <script  type="text/javascript" src="/scripts/typeahead.min.js"></script>
  <script src="https://kit.fontawesome.com/581287c489.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $('input.typeahead').typeahead({
            name: 'countries',
            remote: 'http://localhost:3000/search?key=%QUERY',
            limit: 10,
            select: function(event, ui) {   
              location.href="/admin/users/" + ui.item.id + "/edit";
          }
        });
        $('.input.typeahead').on('change', function(){
          window.location = $(this).val();
       });
    });
    </script>
   

      <style type="text/css">
        .bs-example{
          font-family: sans-serif;
          position: relative;
          margin: 50px;
        }
        .typeahead, .tt-query, .tt-hint {
          border: 2px solid #CCCCCC;
          border-radius: 8px;
          font-size: 24px;
          height: 30px;
          line-height: 30px;
          outline: medium none;
          padding: 8px 12px;
          width: 396px;
        }
        .typeahead {
          background-color: #FFFFFF;
        }
        .typeahead:focus {
          border: 2px solid #0097CF;
        }
        .tt-query {
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .tt-hint {
          color: #999999;
        }
        .tt-dropdown-menu {
          background-color: #FFFFFF;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          margin-top: 12px;
          padding: 8px 0;
          width: 422px;
        }
        .tt-suggestion {
          font-size: 24px;
          line-height: 24px;
          padding: 3px 20px;
        }
        .tt-suggestion.tt-is-under-cursor {
          background-color: #0097CF;
          color: #FFFFFF;
        }
        .tt-suggestion p {
          margin: 0;
        }
        </style>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark fondo-cabecera"  >
    <div class="container">
      <a href="/"><img src="/imagenes/logo1.png" alt=""></a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="input-group buscador-css">
        <input type="text" ID="txtGuardianName" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Type your Query">
        <button type="button" class="btn  btn-primary">Buscar</button>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
       


            <li class="nav-item">
            <a class="nav-link" href="#rankings">Ranking</a>
          </li>
          <% if(user){ %>
            <li class="nav-item">
              <a class="nav-link bienvenida-text" >Bienvenido - <%= user.nombre %>..</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>

          <% } else{ %>  
  
            <li class="nav-item">
              <a class="nav-link" href="../login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../registro">Registrarse</a>
            </li>
         
         <% } %>

     
        </ul>
      </div>
     
    </div>
  </nav>